{% include 'base.html.twig' %}

{% block body %}

<div class="container">
    {# Article #}

    {% for article in category.articles %}
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ article.introduction }}</h6>
                <p class="card-text">{{ article.content }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Auteur : {{ article.user.name }}</h6>
                <a href="../article?id={{ article.id }}" class="card-link">Lien vers l'article</a>
                <a href="/home" class="card-link">Retour à la home</a>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}